.ActionButtons--mobile {
    .ActionButtons-btn {
        background-color: transparent;
        color: #fff;
        border: none;
        padding: 0;
        float: right;
    }

    .dropdown-menu {
        top: 25px;
        right: -17px;
        border-radius: 2%;
        left: auto;
    }
}
