.btn-actions {
    background-color: transparent;
    padding: 0;
    font-size: 1.95em;
    margin-top: 18px;
    border: none;
}

.buttons-bar.action-buttons-wrapper, .buttons-bar.share-buttons-wrapper {
    /* LO APLICO A AMBOS BUTTONS-BARS PERO EN MOBILE SOLO APLICA A ACCIONES YA QUE COMPARTIR NO ESTÁ VISIBLE */
    display: inline-block;
    margin: 0.5em 0;

    ul {
        list-style-type: none;
        padding: 0;
        clear: both;


        @media (max-width: $screen-sm) {
            display: none;
            width: 100%;
            top: 60px;
            right: 0;
            left: auto !important;

            a {
                padding: 10px 12px;
                border-bottom: 1px solid #cacaca;
            }

            .back-collection {
                a {
                    border: none;
                    border-radius: 0;
                    background-color: transparent;
                    text-align: left;
                    float: none !important;
                }
            }

        }


        /**** PARA PISAR BOOTSTRAP DROPDOWN EN DESKTOP ****/
        @media (min-width: $screen-sm) {
            position: relative;
            top: auto;
            left: initial;
            z-index: initial;
            float: none;
            min-width: auto;
            padding: initial;
            margin: initial;
            list-style: none;
            font-size: inherit;
            text-align: start;
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
            background-clip: initial;

            li {
                &.back-collection {
                    flex-grow: 2;
                    a {
                        padding: 6px 9px;
                        color: #fff !important;
                        width: 200px;

                        &:hover {
                            background-color: #333;
                        }
                    }
                }
                a {
                    color: #333;
                    margin-right: 10px;

                    /**** PARA PISAR BOOTSTRAP DROPDOWN****/
                    @media(min-width: $screen-xs) {
                        padding: 0;

                        &:hover {
                            background-color: transparent;
                        }
                    }

                    .educar-icon {

                        border-radius: 50%;
                        padding: 10px;
                        background-color: #D3DADF;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                } /* CLOSE a */

                /* COLORES */
                &.facebook a:hover span.educar-icon {
                    background-color: #3b5998;
                    color: #fff;
                }
                &.google-plus a:hover span.educar-icon {
                    background-color: #d34836;
                    color: #fff;
                }
                &.twitter a:hover span.educar-icon {
                    background-color: #00aced;
                    color: #fff;
                }
                &.mail a:hover span.educar-icon {
                    background-color: #e04c40;
                    color: #fff;
                }
                &.report-resource a:hover span.educar-icon {
                    background-color: $brand-primary;
                    color: #fff;
                }
                &.action a:hover span.educar-icon {
                    background-color: $brand-primary;
                    color: #fff;
                }
            } /* CLOSE li */
        } /* CLOSE @media */



    }
    ul.dropdown-menu.open {
        display: block !important;
    }
}
.action-buttons-wrapper {
    flex-grow: 1;
}

.newsDetail-body .share-buttons-wrapper { display: block; margin-top: 10px;}
