
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &.first{
        padding-left:80px;
    }
    &.last {
        padding-right:80px;
    }

    @media (max-width: $screen-phone) {

        &.first{
        padding-left: 0.5em;
        }
        &.last {
            padding-right:0.5em;
        }

        justify-content: flex-start;
        flex-direction: row;
        padding: 10px 0.5em;

        h3 {
            font-size: 20px !important;
        }
    }

    @media (max-width: $screen-phone) and (min-width: 480px) {
        margin-bottom: 2em !important;
    }

    a {
        position: relative;

        @media (min-width: 480px ) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    } /* PARA POSICIONAR EL TITULO EN LAS VERSIONES DESKTOP */
    a:hover { text-decoration: none; }
    .glyphicon {
        color: #fff;
        font-size: 100px;
        @media (max-width: $screen-desktop) {
            font-size: 90px;
        }
    }
    .circle {
        width: 210px;
        height: 210px;
        display: block;
        background-color: red;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        @media (max-width: $screen-desktop) {
            width: 170px;
            height: 170px;
        }
        @media (max-width: $screen-phone) {
            width: 100px;
            height: 100px;
            margin-right: 15px;
        }
        h3 {
            margin: 0;
        }
        img {
            width: 60%;
        }
    }
    h3 {
        font-size: $font-size-h2;
        color: #fff;
/*        position: absolute;
        left: 15%;
        top: 30%;*/
        width: 190px;
    }
    p {
        font-size: $font-size-large;
        .number {
            display: block;
            font-size: $font-size-h1;
            margin-top: 10px;
            margin-bottom: 0px;

            @media (max-width: $screen-phone) {
                display: inline;
                font-size: $font-size-h3;
                margin: 0;
            }
        }
    }

    &.descripted {
        a {
            h3 {
                position: relative;
                width: auto;
                left: auto;
                top: auto;
                color: $gray-dark;
                border-bottom: 1px solid #aaa;    
                padding-bottom: 10px;

                @media (max-width: $screen-xs) {
                    width: 0;
                    border-bottom: none;
                    margin: 0;
                    font-size: $font-size-h3;
                    text-align: left;
                }
            }

            @media (max-width: $screen-phone) {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
            }
        }

        p {
            font-size: $font-size-base;
            padding: 0 45px;
        }

    }

    /* COLORES */
    &.inicial {
        .circle { background-color: $inicial-color; }
        p { .number { color: $inicial-color; } }
    }
    &.primaria {
        .circle { background-color: $primaria-color; }
        p { .number { color: $primaria-color; } }
    }
    &.secundaria {
        .circle { background-color: $secundaria-color; }
        p { .number { color: $secundaria-color; } }
    }
    &.video {
        .circle { background-color: $video-color; }
        .glyphicon {

            @media (max-width: $screen-desktop) {
                font-size: 60px;
                padding-left: 1%;
            }
            @media (max-width: $screen-phone) {
                font-size: 40px;
            }
        }
        p { .number { color: $video-color; } }
    }
    &.audio {
        .circle { background-color: $audio-color; }
        .glyphicon {
            font-size: 120px;
            padding-left: 2%;
            @media (max-width: $screen-desktop) {
                font-size: 60px;
                padding-left: 1%;
            }
            @media (max-width: $screen-phone) {
                font-size: 40px;
            }
        }
        p { .number { color: $audio-color; } }
    }
    &.ebook {
        .circle { background-color: $ebook-color; }
        .glyphicon {

            @media (max-width: $screen-desktop) {
                font-size: 60px;
                padding-left: 1%;
            }
            @media (max-width: $screen-phone) {
                font-size: 40px;
            }
        }
        p { .number { color: $ebook-color; } }
    }
    &.especiales {
        .circle { background-color: $especiales-color; }
        img {
            width: 67%;
            padding-top: 6%;
        }
        p { .number { color: $especiales-color; } }
    }
    &.efemerides {
        .circle { background-color: $efemerides-color; }
        img {
            width: 75%;
        }
        p { .number { color: $efemerides-color; } }
    }
    &.experiencias {
        .circle { background-color: $experiencias-color; }
        img {
            width: 75%;
            padding-top: 4%;
        }
        p { .number { color: $experiencias-color; } }
    }


}
