/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2016, 3:41:58 PM
    Author     : angelcaido
*/
.main-wrapper{
    .btn-ingresa-cursos {
        margin-bottom: 1em;
    }
}