/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 14, 2016, 11:15:42 AM
    Author     : angelcaido
*/

.course-wrapper{
    background: white;
    margin-bottom: 2em;

    h1 {
        font-size: 2.25em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #0072bc;
    }

    .course-excerpt {
        font-size: 1.375em;
        order: 2;

        @media screen and (min-width: 768px){
            order: 1;
        }
    }


    .course-info {
        background: $grey-muted;
        margin: 1em 0;
        padding-top: 5px;
        order: 1;

        @media screen and (min-width: 768px){
            order: 2;
        }

        a.btn {
            margin-top: 25px;

            @media screen and (max-width: $screen-sm){
                max-width: 72px;
                padding: 10px 5px;
            }

        }

    }
    .course-observ {
        background: white;
        padding: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .course-info.inline{
        padding: 5px 10px;
        p{
            float: left;
        }
    }

    .course-description {
        font-size: 1em;
        a.btn {
            margin-bottom: 1em;
            margin-right: 1em;
            max-width: 190px;
        }

        header {
            border: 2px solid $brand-primary;
            border-right: none;
            border-left: none;
            height: 100%;
            overflow: hidden;

        }

        h1 {
            color: $gray-base;
            margin-top: 10px;
        }

        h2, h3, h4 {
            color: #00b9f1;
            font-size: 1.25em;
        }
        .course-detail {
            padding: 1em 0px;
            margin: 1em 0;
        }
    }

    a.btn-collapse{
        background: transparent;
        text-indent: -9999999999px;
        border: none;
        position: relative;
        width: 12px;
        top: 20px;

        &:before {
            content: "";
            border-width: 12px;
            border-style: solid;
            border-color: transparent transparent #a4a4a4;
            box-sizing: border-box;
            width: 12px;
            height: 12px;
            display: block;
            transform: rotateX(180deg);
            position: absolute;
            top: 7px;
            right: 17px;
            transition: all 0.2s ease;
        }
        &:hover::before{
            transform: rotateX(0deg);
            top: -7px;
        }
        &:focus {
            background: transparent;
        }
    }

    .courses-message {
            padding: 0.5em 2em;
            margin-top: 1.5em;
        }

}

