.user-courses {
    background: white;
    margin-bottom: 2em;
    padding-bottom: 3em;

    h1 {

        & + p {
            margin-bottom: 2em;
        }
    }
    header {
        border-top: 1px solid $brand-primary;
        border-bottom: 1px solid $brand-primary;
        padding: 0px 0 7px;
        color: $brand-primary;
        clear: both;
    }

    .coursing, .finished {
        p {
            display: block;
        }

        .courses-message {
            background: white;
            padding: 0.5em 2em;
            font-weight: bold;
            margin-top: 1.5em;

            float: right;

            @media all and (max-width: 768px) {
                float: left !important;
                clear: both;
                margin-left: -4px;
                margin-top: 10px;
            }
        }

        a.btn {
            float: right;

            @media all and (max-width: 768px) {
                float: left !important;
                clear: both;
                margin-left: -4px;
                margin-top: 10px;
            }
        }
    }

     .coursing {
            p {
                margin-top: 5px;
                float: left;
            }
        }

    .coursing, .upcoming, .finished {
        background: $grey-muted;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 1em 0 1em;

        p {
            font-weight: bold;
        }


    }
    .finished {

        a.btn {

            margin: 10px 0 0;

            @media all and (max-width: 768px) {
                margin-top: 10px;
            }
        }

        span {
            display: block;
            clear: both;
        }
        p {
            span {
                display: inline;
                font-weight: normal;
            }
        }
    }

    div.alert.alert-info {
        margin-top: 1em;
    }

    .accordion-toggle {
        background: transparent;
        text-indent:-9999999999px;
        border: none;
        display: block;
        text-decoration: none;
        color: $gray-light;
        text-indent:-9999999999px;
        margin-top: 1.5em;

        &:after {
            font-family: 'Glyphicons Halflings';
            content: "\e113";
            float: right;
            color: $brand-primary;
            font-size: 16px;
            text-indent: 0;
            outline: none !important;
            position: relative;
            right: 7px; //en chrome no se puede clickear la flechita sin esto

        }
        &.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e114";    /* adjust as needed, taken from bootstrap.css */
        }
    }


    .alert {
        clear: both;
    }
}
.enrollmentForm{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
