.error-500 {
    background: white;
    padding: 1em;

    @media screen and ( min-width: 768px ) {

        background-image: url('/img/bkg-error-500.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center top;
    }

    .error-500-text-container {

        @media screen and ( min-width: 768px ) {
            margin-top: 24%;
        }

        padding-bottom: 2em;

        div {
            max-width: 550px;
            margin-top: 33px;
        }
    }

    margin-bottom: 2em;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3em;


    h1 {
        font-size: 2.5em;
        color: #ed2e1f;

    }

    p {
        font-family: 'Droid', sans-serif;
        font-size: 1.5em;

    }
    p + p {
        font-size: 1.25em;
    }


}

