.error-404 {
    background: white;
    padding: 1em;

    @media screen and ( min-width: 768px ) {

        background-image: url('/img/bkg-error404.png');
        background-repeat: no-repeat;
        padding-top: 12%;
        padding-bottom: 12%;
        background-size: 71%;
        background-position: center right;
    }

    margin-bottom: 2em;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3em;


    h1 {
        font-size: 2.5em;
        color: #0072bc;
        max-width: 6em;
    }

    p {
        font-family: 'Droid', sans-serif;
        font-size: 1.5em;
        max-width: 21em;
    }
    p + p {
        font-size: 1.25em;
    }


}
