
footer {
    background-color: white;
}


/*** LOGOS DEL FOOTER ***/

footer .ministerio-educacion {
    display: inline-block;
}
footer .ministerio-educacion i {
    display: block;
    height: 41px;
    width: 233px;
    background: url("../../../frontend/images/educar-sprite.png") -121px 0;
}
footer .btn-social {
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #7e7e7e;
}
footer .twitter:hover  {
    background-color: #55acee;
}
footer .twitter i {
    display: block;
    width: 22px;
    height: 20px;
    margin: 12px 11px;
    background: url('../../../frontend/images/educar-sprite.png') 0 -47px !important;
}
footer .facebook i {
    display: block;
    width: 15px;
    height: 24px;
    margin: 10px 14px;
    background: url("../../../frontend/images/educar-sprite.png") -26px -48px !important;
}
footer .facebook:hover  {
    background-color: #3b5998;
}
footer .youtube i {
    display: block;
    width: 21px;
    height: 28px;
    margin: 9px 11px;
    background: url("../../../frontend/images/educar-sprite.png") -45px -48px !important;
}
footer .youtube:hover  {
    background-color: #cd201f;
}
footer .mail i {
    display: block;
    width: 29px;
    height: 30px;
    margin: 7px 7px;
    background: url("../../../frontend/images/educar-sprite.png") -69px -48px !important;
}
footer .mail:hover  {
    background-color: #fbbc05;
}
footer .enred i {
    display: block;
    width: 29px;
    height: 30px;
    margin: 7px 7px;
    background: url("../../../frontend/images/educar-sprite.png") 0px -77px !important;
}
footer .enred:hover {
    background-color: $brand-primary;
}
footer .presidencia {
    display: inline-block;
}
footer .presidencia i {
    display: block;
    height: 35px;
    width: 197px;
    background: url("../../../frontend/images/educar-sprite.png") -358px -1px;
}
footer .cc-licence {
    display: inline-block;
}
footer .cc-licence i {
    display: block;
    height: 40px;
    width: 118px;
    background: url("../../../frontend/images/educar-sprite.png") -101px -48px;
}
footer .rea {
    display: inline-block;
}
footer .rea i {
    display: block;
    height: 57px;
    width: 89px;
    background: url("../../../frontend/images/educar-sprite.png") -222px -48px;
}

/*** SITEMAP ***/

.bg-color-2 {
    background-color: #e6e4d7;
}

.footer-sitemap{
    padding: 30px 0;

    @media (max-width: $screen-sm) {
        padding: 12px 0 15px 0;
    }
}

.footer-sitemap .footer-logo-educar{
    background: url("../../../frontend/images/educar-sprite.png") 0 0;
    background-size : 483px 112px;
    width: 103px;
    height: 38px;

    @media (max-width: $screen-sm) {
        margin-bottom: 10px;
    }
}

.footer-sitemap a{ color: #000;}
.footer-sitemap li a{ color: #666;}

.footer-sitemap h3{
    margin-top: 10px;
    font-family: $font-family-sans-serif-titles;
    font-weight: 900;
    font-size: 1em;
    color: #000;

    @media (max-width: $screen-sm) {
        margin-top: 0;
        margin-bottom: 0;
        clear: both;
        overflow: hidden;
    }
}

.footer-sitemap h3 span{
    @media (max-width: $screen-sm) {
        display: inline-block;
        border-top: 1px dotted #CCC;
        padding-top: 15px;
        margin-top: 15px; /* distancia entre la linea que divide cada item principal de menu */
    }
}

.footer-sitemap div:nth-child(2) h3 span{ padding-top: 0; border-top: none;}
/* primer item despues del logo de educ.ar */

.footer-sitemap ul{
    list-style-type: none;
    padding-left: 0;
    @media (max-width: $screen-sm) {
        overflow: hidden;
        margin-bottom: 0;
        margin-top: 6px;
    }
}

.footer-sitemap ul li{
    margin-bottom: 5px;
    color: #666;

    @media (max-width: $screen-sm) {
        float: left;
        margin-right: 4px;
        margin-bottom: 3px;
    }
}

.footer-sitemap ul li::before {
    @media (max-width: $screen-sm) {
        content: "• ";
        color: #999;
    }
}

.footer-sitemap ul li:first-child::before {
    @media (max-width: $screen-sm) {
        content: "";
    }
}

/*** POSICIONAMIENTO ***/

footer {

    & .container .row {
        &.footer-top {
            padding-top: 26px;
            padding-bottom: 22px;
            @include padding-mobile($screen-xs);

            & .footer-top-wrapperLogos {




                @media (max-width: $screen-sm) {

                    margin-bottom: 25px;
                }
            }
        }

        &.footer-med {
            padding: 17px 0;
            @include padding-mobile($screen-xs);

            & .footer-med-wrapperLogos {
                justify-content: flex-end;

                @media (max-width: $screen-phone) {
                    justify-content: flex-start;
                    margin-bottom: 25px;
                }
            }
        }

        &.footer-bottom {
            padding: 26px 0;
        }
    }

    & .container-fluid .row .row {
        padding-top: 0;
        padding-bottom: 0;
    }
    .footer-links-wrapper {
        width: 100%;

        @media screen and ( min-width: 992px ) {

            width: 74%;
        }

        @media screen and ( min-width: 1300px ) {

            width: 60%;
        }

        a {
            display: block;
            color: #000;
            font-size: 0.875em;
            text-decoration: underline;
            &:hover,
            &:active,
            &:focus {
                color: $gray;
            }
        }
    }
}

footer .btn-social {
    margin-left: 14px;
}

footer .cc-licence {
    margin-top: 6px;
}

footer .rea {
    margin: -8px -7px 0 32px;
}

footer .space-txt {
        padding-top: 7px;
        margin-right: 20px;
}
