.form {
    .form-legend {
        margin-bottom: 2em;
    }
    .form-group {
        margin-bottom: 2em;

        &.has-error input[type=text].form-control,
        &.has-error textarea.form-control,
        &.has-error select.form-control {
            border-color: #a94442;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }
    }

    input[type=text], textarea, select {
        padding: 0 8px;
        height: 36px;
        box-shadow: none;
        border: 2px solid #cacaca;

        &.disabled {
            background-color: lightgray;
            cursor: no-drop;
        }
    }
    textarea {
        padding: 6px 8px;
        resize: vertical;
    }

    &.ContactForm-form {
        min-height: 500px;

        form {
            padding-left: 2em;

            @media (max-width: $screen-sm) {
                padding-left: 0;
            }
        }
        @media (max-width: $screen-sm) {
            min-height: auto;
        }
    }
    &.ContactForm-sent {
        min-height: 500px;

        .alert {
            background-color: transparent;
            border: none;
            font-weight: bold;

            &.alert-success { color: $text-color; }
            &.alert-danger { color: #d50000; }
        }

        @media (max-width: $screen-sm) {
            min-height: auto;
        }
    }

    .dni-info {
        margin-top: 2.4em;
        @media (max-width: $screen-sm) {
            margin-top: -1em;
            margin-bottom: 2em;
        }

    }
}
