#fullscreen-header {
    .navbar {
        background-color: $brand-primary;
        margin: 0;
        padding: 0;
        height: 70px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2345;
        border-radius: 0px;


        .brand-logo {
            height: 50px;
            display: inline-block;
            margin-top: 9px;
            img {
                height: 100%;
            }
            @media(max-width: $screen-xs){
                width: 43px;
                background: url("../../../frontend/images/educar-sprite.png") -77px 0;
                height: 43px;
                margin-top: 6px;
                margin-left: 10px;

                img { display: none;}
            }
        }
        .min-screen, .dropdown-toggle {
            margin-top: 17px;
        }


        a {
            margin-left: 15px;
            .educar-icon, {
                border-radius: 50%;
                padding: 10px;
                background-color: #D3DADF;
                color: #333;
            }

            &:hover .educar-icon, &:hover .glyphicon {
                background-color: #333;
                color: #D3DADF;
            }
            &.btn-default {
                margin-left: 0;
                margin-top: 17px;
                background-color:$blue;
                border: none;
                color: #fff;
                border-radius: 10px;
                padding: 3px 15px;
            }
        }
        .btn-resource-header {
            border: none;
            background-color: transparent;
            padding: 0;

            &.open .glyphicon:before { content: "\e113"; }
            .glyphicon {
                border-radius: 50%;
                padding: 10px;
                background-color: #D3DADF;
                color: #333;


                &:before { content: "\e114"; }

            }

            &:hover .glyphicon {
                background-color: #333;
                color: #D3DADF;
            }
            &:hover {
                border: none;
                box-shadow: none;
            }
        }
        @media(max-width: $screen-xs) {
            background-color: #fff;
            border-bottom: 2px solid $gray-lighter;
            height: 60px;
        }
    }

    .fullscreen-resource-header {
        &.open {
            display: block;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            margin-bottom: 4em;
            margin-top: -3em;
        }
        display: none;
        background-color: #fff;
        border-bottom: 4px solid $gray-lighter;

        h1 {
            font-size: 2.25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #0072bc;
        }
        .description {
            font-size: 1.375em;
        }
    }
}

.fullscreen-content-wrapper {
    width: 100%;

    iframe {
        width: 100%;
        height: 100%;
    }
}
