#main-header{
    .navbar{
        .navbar-header{
            @media (max-width: $screen-sm){
                width: 100%;
                &.user {
                    width: initial;
                }
                .educar{
                    margin-top: 6px;
                }
            }
        }

        // padding-left: 0;
        // padding-right: 0;
        @media (max-width: $screen-phone){
            .navbar .container-fluid {
                padding-left: 0;
                /*padding-right: 0;*/
            }
        }
    }
    .navbar-header{
        @media (max-width: $screen-sm){
            padding: 8px 0px;
        }
        .navbar-brand{
            @media (min-width: $screen-md){
                margin-top: 15px;
            }
        }
        .navbar-toggle{
            position: absolute;
            left: 0px;
        }

    }

    @media (max-width: $screen-phone){
        .navbar .container-fluid {
            padding-left: 0;
            /*padding-right: 0;*/
        }
    }
    .ingreso{
        margin: 25px 0px 0 0;
        @media (max-width: $grid-float-breakpoint) {
            margin: 22px 0px 0 0;
        }
        @media (max-width: $screen-phone){
            padding: 3px 7px;
        }
    }
    .navbar-fixed-top{
        .navbar-header{
            .navbar-brand{
                margin: 7px 0 4px 0;
            }
        }
    }
    .navbar-fixed-top .ingreso {
        margin: 15px 0px 0 0;
    }
    & .navbar-fixed-top .logged {
        margin: 10px 0 0 0;
    }
    .logged {
        margin: 5px 0 0 0;

        @media screen and (min-width: $screen-md) {
            margin: 20px 0 0 0;
        }
        .avatar {
            border-radius: 50%;
            padding: 0;
            margin: 0 0 0 5px;
        }
        a{
            color: $gray-light;
        }
        .dropdown-menu{
            background-color: transparent;
            padding: 0;
            @media (max-width: $screen-md){
                left: -122px;

            }

            li{
                a{
                    background-color: $brand-primary;
                    border-color: rgba(255, 255, 255, 0.63);
                    color: #444;
                    &:hover {
                        background-color: lighten($brand-primary, 3.5%);
                    }
                }
            }
        }
        @media (max-width: $screen-phone){
            margin: 10px 0 0 0;
            max-width: 170px;
        }
        /* no muestro el nombre cuando ya no entra*/
        @media (max-width: 300px){
            /*max-width: 40px;*/
            a span {
                display: none;
            }
        }
        @media (min-width: $screen-sm) and (max-width: $grid-float-breakpoint) {
            margin: 10px 0 0 0;
        }
    }
    .user {
        position: absolute;
            right: 15px;
        top: 0;
        li a {
            color: #fff;
            border-top: 1px solid #444;
            border-bottom: none;
            /*background-color: #000;*/
        }
    }
    .navbar-toggle.avatar {
        padding: 0;
        border-radius: 50%;
    }

    .avatar {
        max-width: 40px;
    }

    .navbar-collapse {
        @media (max-width: $grid-float-breakpoint){
            // width: 100%;
            margin-left: -15px;
            margin-right: -15px;
        }
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-fixed-top .navbar-nav > li > a  {
        @media (min-width: $grid-float-breakpoint) {
            padding-top:    $navbar-padding-vertical ;
            padding-bottom: $navbar-padding-vertical;
            transition: all 0.2s ease;
        }

    }
}
