.inscriptionMsg-wrapper {
    background: white;
    padding-bottom: 2em;
    margin-bottom: 2em;

    h1 {
        font-size: 2.25em;
        color: #0072bc;
    }
    .inscriptionMsg-courseInfo {
        background: $grey-muted;
        padding-bottom: 1.5em;

        h2 {
            font-size: 1.25em;
            font-weight: bold;
            color: #000;

        }
        span {
            margin-right: 5px;

            &::before {
                content:"-";
                margin-right: 5px;
            }

            &:nth-child(2)::before {
                content: " ";
                margin-right: 0;
            }
        }
    }
    .inscriptionMsg-msg {
        border-top: 1px solid silver;
        padding-top: 3em;
        margin-top: 1em;
        margin-bottom: 3em;

    }

    .social-networks{
        background: $grey-muted;
        padding-top: 0.8em;
        padding-bottom: 1.5em;
        margin-top: 2em;


        .social-icons {
            margin-top: 25px;

            .link-social {
                border-radius: 50%;
                padding: 10px;
                color: #FFF;


                &:hover {
                    opacity: 0.8;
                }
            }

            .link-social-facebook {
                background-color: #3b5998;


            }
            .link-social-twitter {
                background-color: #00aced;
            }
        }
    }
    .error-message {
        color: red;
        padding: 1em;
    }
}

