.Institutionals{
    margin-bottom: 3em;

    .Institutionals-title{
        padding: 0.7em 0.5em 1em;
        position: relative;
        border-bottom: 2px solid $gray-border-darker;
        background: white;
        h1{
            font-size: 2.25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #0072bc;
        }
    }
    .Institutionals-content{
        margin-top: 20px;
        margin-right: 20px;
        padding-bottom: 1em;
        iframe{
            border: none;
            margin-bottom: 20px;
        }
    }
    .white-background{
        background: white;
    }
    .Institutionals-sidenav-container{
        padding: 20px;
    }
}
