.btn-filters-mobile {
    position: absolute;
    top: -5px;
    right: 0.5em;
    // background-color: #d1d1d1;
    padding: 5px;
    border-radius: 4px;
}

#filters {
    background: hsla(1,0%,100%,.9);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100%;
    padding-top: 80px;
    padding: 0 15px;
    border-radius: 0;
    z-index: 1000;

    .header {
        background-color: #f5f5f5;
        padding: 27px 0;
        margin: 0 -15px;

        .btn-filters-mobile {
            position: relative;
            margin: 0 15px;
            top: auto;
        }
        h4 {
            display: inline;
            margin-left: 25px;
        }

        @media (max-width: $screen-sm) and (min-width: $screen-xs) {
            padding: 75px 0;
        }
    }

    ul.nav.navbar-nav {

        li.dropdown {
            a.dropdown-toggle {
                padding: 10px;
                color: $gray;
                background-color: #fff;
                border-bottom: 1px solid #ddd;

                &:hover {
                    text-decoration: none !important;
                    background-color: #f9f9f9;
                }

            }
            &.open .dropdown-menu {
                background-color: #fff;
                a {
                    background-color: #fff;
                    position: relative;
                    color: $blue;
                    border-bottom: 1px solid #ddd;
                    padding-left: 10px;
                }
            }
        }
    }
    .glyphicon {
        position: absolute;
        top: 30%;
        right: 10px;
        pointer-events: none;
    }
}
/*
.list-filter-mobile.navbar {
    margin-bottom: 0;

    .navbar-toggle {
        float: right;
        margin: 0;
        background-color: lighten($gray-light, 33.5%);
    }

    .navbar-collapse {
        margin: 5px -15px 0 -15px;
    }
    ul.nav.navbar-nav {

        li.dropdown {
            a.dropdown-toggle {
                padding: 10px;
                color: $gray;
                background-color: #fff;
                border-bottom: 1px solid #ddd;

                &:hover {
                    text-decoration: none !important;
                    background-color: #f9f9f9;
                }

            }
            &.open .dropdown-menu {
                background-color: #fff;
                a {
                    position: relative;
                    color: $blue;
                    border-bottom: 1px solid #ddd;
                    padding-left: 10px;
                }
            }
        }
    }
    .glyphicon {
        position: absolute;
        top: 30%;
        right: 10px;
        pointer-events: none;
    }
}
 */
