.filtered {
    h3 {
        border-bottom: 2px solid $brand-primary;
        padding-bottom: 10px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    ul { padding-left: 0; }

    li.filtered-group {
        display: block;
        background-color: #95daed;
        margin-bottom: 5px;
        overflow: hidden;

        ul {

            li {
                display: block;
                padding: 10px;
                margin-bottom: 5px;

                a {
                    float: right;

                    .glyphicon { color: red; top: 2px;}
                }
                &.depth-1 {
                    margin-left: 10px;
                    margin-right: 5px;
                    background-color: #abe5f3;
                    padding-left: 10px;

                    .glyphicon { margin-right: -5px; }
                }
                &.depth-0 {
                    margin-left: 20px;
                    margin-right: 5px;
                    background-color: #ceedf5 ;
                    padding-left: 10px;

                    .glyphicon { margin-right: -5px; }
                }
            }

        }
    }

}
