.filters {
    h3 {
        border-bottom: 2px solid $brand-primary;
        padding-bottom: 10px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .filter-group {
        margin-bottom: 20px;

        ul {
            border-top: 1px solid $brand-primary;

            li.list-group-item {
                padding: 0;
                color: $gray;

                a {
                    color: $gray;
                    width: 100%;
                    display: block;
                    padding: 10px 45px 10px 15px;
                }
                &:hover {
                    text-decoration: none !important;
                    background-color: #c7c7c7;
                }
                .badge {
                    position: absolute;
                    top: 30%;
                    right: 10px;
                    pointer-events: none;
                }
            }
            li.js-more-tags {
                display: block;
                padding: 15px 0;

                a {
                    color: $blue;
                    .glyphicon { top: 2px; padding-left: 5px; }
                }


            }
        }

    }

}
