.list-item {
    display: block;
    position: relative;
    margin-bottom: 30px;
    min-height: 157px;

    .title {
        color: $blue;
        margin-bottom: 20px;
        display: inline-block;

        a {
            color: $blue;
            border-bottom: 1px solid $blue;

            &:hover {
                text-decoration:none;
            }
        }

    }

    .tags {
        margin-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;


        span {
            color: $text-color;
        }
        .divider {
            border-left: 1px solid #8b8d8d;
            display: inline;
            margin-left: 5px;
            margin-right: 10px;
        }
    }

    .description {
        margin-bottom: 0;
        color: $text-color;
    }

    .icon {
        /* PRUEBA DE CUADRADO RESPONSIVE
        width: 20%;
        padding-bottom: 66.6%;*/

        text-decoration: none;
        position: absolute;
        top: 66px;
        left: 0;
        width: 100px;
        height: 100px;
        color: #fff;
        background-color: red;

        display: flex;
        justify-content: center;
        align-items: center;

        .glyphicon {
            font-size: 50px;
        }

        &:hover, &:focus { text-decoration: none; }

        &.video {
            background-color: $video-color;
            .glyphicon { margin-top: -2%; }
        }
        &.audio {
            background-color: $audio-color;
            .glyphicon { margin-top: 0%; font-size: 68px; margin-left: 2%; }
        }
        &.libro-electronico {
            background-color: $ebook-color;
            .glyphicon { margin-top: -2%; font-size: 65px; }
        }
        &.enlace {
            background-color: $link-resource-color;
            .glyphicon { margin-top: 0; font-size: 65px; }
        }
        &.imagen {
            background-color: $image-color;
            .glyphicon { margin-top: -5%; font-size: 65px; }
        }
        &.galeria-de-imagenes {
            background-color: $gallery-color;
            .glyphicon { margin-top: -5%; margin-left: 6%; font-size: 65px; }
        }
        &.recurso-interactivo {
            background-color: $interactive-color;
            .glyphicon { margin-top: -2%; font-size: 45px; }
        }
        &.texto {
            background-color: $text-resource-color;
            .glyphicon { margin-top: -2%; margin-left: -4%; font-size: 65px; }
        }
        &.software {
            background-color: $software-color;
            .glyphicon { margin-top: -2%; margin-left: 0%; font-size: 55px; }
        }
        &.coleccion {
            background-color: $collection-color;
            .glyphicon { margin-top: -2%; margin-left: -5%; font-size: 45px; }
        }
        &.sin-clasificar {
            background-color: $generic-color;
            .glyphicon { margin-top: -2%; margin-left: 0%; font-size: 65px; }
        }

        @media (min-width: $screen-lg) {
            width: 110px;
            height: 110px;
        }
        @media (max-width: $screen-lg) {
            width: 100px;
            height: 100px;
        }
    }

    @media (max-width: $screen-xs) {
        display: inline-block;
        width: 100%;
        min-height: 80px;
        margin-top: 20px;
        padding-left: 0.5em;
        padding-right: 0.5em;

        .title {
            margin-top: 0;
            margin-bottom: 10px;
        }
        .icon {
            top: 0;
        }
    }

}
