
/*** CUERPO ***/

.newsDetail-header {
    background-color: white;
    padding: 1em;
}

.newsDetail-title {
    font-size: 2.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0072bc;
}

.newsDetail-description {
    font-size: 1.375em;
    margin-bottom: 10px;
}

.newsDetail-date {
    font-size: 0.875em;
    display: block;
}

.newsDetail-author {
    font-size: 1em;
    // width: 60%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1em;
    margin-top: 0.5em;
}

.newsDetail-share {
    width: 310px;
    height: 38px;
    display: block;
    margin: 10px 0 0;
    padding: 0;

    & li {
        background-image: url(../../../frontend/images/educar-sprite.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 29px;
        height: 29px;

        & a {
            display: block;
            width: 29px;
            height: 29px;
        }


        &.facebook {
            background-position: -363px -46px;

            &:hover{
                background-position: -363px -76px;
            }
        }

        &.twitter {
            background-position: -395px -46px;

            &:hover{
                background-position: -395px -76px;
            }
        }

        &.gplus {
            background-position: -333px -46px;

            &:hover{
                background-position: -333px -76px;
            }
        }

        &.mail {
            background-position: -424px -46px;

            &:hover{
                background-position: -424px -76px;
            }
        }

    }
}

.newsDetail-body {
    font-size: 1.125em;
    background-color: white;
    padding: 1.5em;
    margin-top:0.2em;
    float: left;
    width: 100%;
    white-space: normal;
    overflow: hidden;

    & img {
        margin: 1em 0;
        max-width: 100%;
        display: block;
    }

    & p {
        white-space: normal;
        overflow: hidden;
        margin: 1em 0;
        font-size: 1.125em;
        line-height: 1.5;
    }
    h1, h2,h3 {
        color: $brand-primary;
    }

    h4, h5, h6 {
        color: #000;
        font-weight: bold;
    }

    ul {
        list-style: none;

        li {
            position: relative;
            font-size: 1.125em;
            margin: 10px 0;

            &::before {
                content: "\2022";
                color: #00b9f1;
                font-size: 42px;
                position: absolute;
                left: -20px;
                top: -18px;
            }
        }

         ul {
            li::before {
                color: $gray-light;
            }
        }
    }

    .list-group {
        li::before {
            content: " ";
        }
    }
    blockquote.well,
    div.well {
        width: 35%;
        font-style: italic;

        h1, h2, h3, h5, h6 {
            font-size: $font-size-h3;
            color: #000;
            font-weight: bold;
            font-style: normal;
        }
    }
    blockquote {
        width: 35%;
        font-style: italic;
        background-color: #f5f5f5;
        border: 0;
        // box-shadow: none;
        // border-radius: 0;

        h1, h2, h3, h4, h5, h6 {
            font-size: $font-size-h3;
            color: #000;
            font-weight: bold;
            font-style: normal;
            margin-top: 10px;
        }
        p {
            margin-top: 0;
        }
        @media (max-width: $screen-xs) {
            width: 100%;
        }
    }
    blockquote.box {
        width: 66%;

        @media (max-width: $screen-xs) {
            width: 100%;
        }
    }

    div.well {
        width: 55%;
        font-style: normal;
    }
}

.newsDetail-tags {
    margin: 5px 0;

    & .label.label-info {
        border-radius: 0;
        font-weight: normal;

        &:hover,
        &:active {
            background-color: #999;
        }
    }

    & a {
        text-decoration: none;
        color: black;
    }

}


/*** OTRAS NOTICAS ***/

.newsDetail-OtherNews {
    margin-bottom: 2em;
    position: relative;
    .newsDetail-OtherNewsTitle {
        @include padding-mobile($screen-xs);
    }
    & a {
        font-size: 1.5em;
        border-bottom: 1px solid $brand-primary;
    }

    & .newsDetail-OtherNewsImg {
        border-top: 3px solid $brand-primary;
        max-height: 300px;
        width: 100%;
        overflow: hidden;
    }

}
