.pagination-wrapper{
    .pagination{
        .next,
        .last{
            a{
                margin: 0 10px 0 0;
                @media (max-width: $screen-phone){
                    margin: 0 10px;
                    padding: 10px;
                }
                text-indent: 0;
                background-color: #e9eceb;
                &:hover{
                    background-color: $gray-over-pagination;
                }
            }
        }
        .first,
        .prev{
            a{
                margin:0 0 0 10px;
                @media (max-width: $screen-phone){
                    margin:0 10px;
                    padding: 10px;
                }
                text-indent: 0;
                background-color: #e9eceb;
                &:hover{
                    background-color: $gray-over-pagination;
                }
            }
        }
    }
}
