.panel-info {
    padding: 1em;
    background-color: $grey-muted;
    display: block;
    overflow: hidden;

    h2 {
        font-family: $font-family-sans-serif;
        font-size: 1.12em;
        font-weight: bold;
        margin-top: 0;

    }
    dl {
        & > * { float: left; }
        dt { margin-right: 0.5em; }
        dd { margin-right: 1.5em; }
    }

    @media (max-width: $screen-sm) {
        dl {
            dt { margin-right: 0.2em; }
            dd { margin-right: 0.4em; }
        }
    }
}
