.RelatedResource{
    margin-bottom: 4em;

    .RelatedResource-main-title{
        h2{
            font-size: 1.8em;
            margin:0 0 30px 0;
        }
    }
    .RelatedResource-item{
        width: 100%;
        border-top: 4px solid $brand-primary;

        .RelatedResource-titleContainer{
            background-color: white;
            .RelatedResource-icon{
                background-color: $video-color;
                width: 60px;
                height: 60px;
                float: left;
                color: white;
                span{
                    font-size: 2em;
                }
            }
            .RelatedResource-title{
                float: left;
                margin-left: 15px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 70%;
                @include titles-links(1.3em, 1.3em, $brand-primary);
            }

            @media (max-width:  $screen-xs) {
                padding: 15px 0 0 15px;
            }
        }
        .RelatedResource-description{
            color: white;
            background-color: $gray;
            padding: 15px;
            min-height: 8em;
            @media (max-width:  $screen-xs) {
                background-color: white;
                color: $gray-dark;
            }
        }

        &:hover{
            .RelatedResource-titleContainer{
                background-color: $brand-primary;
                .RelatedResource-title{
                    color: white;
                }
            }
        }
    }
}

