.search-form {
    background-color: $gray-dark;

    padding-top: 60px;
    padding-bottom: 90px;
    margin-top: -20px; /*HASTA REMOVER EL MARGIN TOP DEL HEADER*/

    @media (max-width: $screen-xs) {
        padding-top: 32px;
        padding-bottom: 42px;
    }
}

.level-list, .special-list {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: $screen-xs) {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.level-list{
    padding-bottom: 56px;
}
.format-list, .related-list {
    background-color: $body-bg;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: $screen-xs) {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.list-title {
    margin-bottom: 50px;

    @media (max-width: $screen-xs) {
        margin-bottom: 10px;
    }
}
