.videoembed-wrapper{
    .main-title {
        font-size: 3.5em;
        margin-top: 1em;
        color: #0FB599;
    }

    .container-fluid {
      max-width: 54em;
      margin-bottom: 2em;
    }

    #myform {
        margin-top: 3em;
        background-color: #E1F3F0;
    }

    .form-title {
        margin-bottom: 1em;
        font-weight: bold;
    }

    #generator-target {
      font-size: 1.5em;
      line-height: 1.5;
      color: #1BA78F;
      margin-top: 1em;
      resize: none;
      word-break: break-word;
      word-wrap: break-word;
      white-space: pre;
    }

    .helptext {
      font-size: 0.9em;
    }

    .helptext .glyphicon {
        color: gray;
        top: 2px;
    }

    code {
        color: #0FB599;
        background-color: #E1F3F0;
    }

    #videowrapper {
        margin: 2em auto 0em;
    }

    #videowrapper iframe {
      background-color: black;
      box-shadow: 4px 8px 21px -6px gray;
      display: block;
      margin: 0 auto;
    }
}
