    // TAGS
    .tags-wrapper {
        padding: 0.7em 0.5em 0.5em;

        .icon {
            border-radius: 50%;
            padding: 6px;
            background-color: #f1f1f1;
            color: #00b9f1;
            font-size: 1em;

        }
        .tag {
            background-color: #f1f1f1;
            color: #333;
            display: inline-block;
            margin: 0 5px 5px 0;
            padding: 3px 10px;
            border-radius: 4%;
        }
    }
