/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 23, 2016, 3:05:07 PM
    Author     : angelcaido
*/

.resourceSheet-wrapper {
    background: #FFF;
    height: 100%;
    overflow: hidden;
    margin-bottom: 4em;

    .resourceSheet-header{
        border-bottom: 1px solid $gray-border;
        position: relative;

        h3 {
            color: #3b3b3b;
        }
    }

    .resourceSheet-section {

        padding-top: 1em;
        min-height: 12em;

        p {

            color: #666;
            a {
                font-weight: normal;
            }
        }

        &:nth-child(2):before {
            padding-top: 2.5em;

        }

        &:nth-child(3){
            border-top: 1px solid $gray-border;
            margin-top: 2em;
        }
    }



    .resourceSheet-logos {
        text-align: right;

        @media all and (max-width: 992px) {
            justify-content: flex-start !important;
        }

        .cc-licence  {
            display: inline-block;
            height: 51px;
            width: 118px;
            background: url("../../../img/svg/icon-cc-license.svg");
            background-size: 118px;
            background-repeat: no-repeat;
            margin-top: 2em;
        }

        .rea-icon  {
            display: inline-block;
            height: 80px;
            width: 120px;
            background: url("../../../img/svg/rea-icon.svg");
            background-size: 120px;
            background-repeat: no-repeat;
        }
    }
    .accordion-toggle {
        display: block;
        text-decoration: none;
        color: $gray-light;
        text-indent:-9999999999px;
        margin-top: 1.5em;

        &:after {
            font-family: 'Glyphicons Halflings';
            content: "\e113";
            float: right;
            color: $gray-light;
            font-size: 16px;
            text-indent: 0;
            position: relative;
            right: 10px;

        }
        &.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e114";    /* adjust as needed, taken from bootstrap.css */
        }
    }
}

.flex-item-1 {
    @include flex-item-grow (1);
}

.flex-item-2 {
    @include flex-item-grow (2);

        span {

            &::before {
                content:"-";
                margin-right: 5px;
            }

            &:first-child::before {
                content: " ";
                margin-right: 0;
            }
        }
}



