.navCollection-wrapper {
    margin-bottom: 2em;

    .navCollection-collapse {
        background-color: $brand-primary;

        .accordion-toggle {
            display: block;
            text-decoration: none;
            color: #fff;
            padding: 10px;

            &:after {
                font-family: 'Glyphicons Halflings';
                content: "\e113";
                float: right;
                color: #fff;
                font-family: 'Glyphicons Halflings';
                font-size: 10px;
                padding-top: 4px;
                padding-right: 2px;
            }
            &.collapsed:after {
                /* symbol for "collapsed" panels */
                content: "\e114";    /* adjust as needed, taken from bootstrap.css */
            }
        }

    }

    ul.navCollection-nav {
        li {
            background-color: $gray-lighter;
            color: $gray-light;
            border-bottom: 1px solid #e4e4e4;
            margin: 0;
            padding: 0;

            a {
                padding: 10px;
                padding-left: 20px;
                color: $gray-light;
                border-radius: 0;

                &:hover {
                    color: #eee;
                    background-color: lighten(#7b7c7c, 15%);
                }
            }
            &.depth-3 a {
                padding-left: 40px;
            }

            &.depth-2 a {
                padding-left: 60px;
            }
            &.depth-1 a {
                padding-left: 80px;
            }
            &.active a {
                background-color: #7b7c7c;
                color:  #fff;

                @media (max-width: $screen-xs) {
                    background-color: $gray-light;
                    color: #fff;
                }
            }
        }
    }




}
