.audioplayer-wrapper {
    background-color: $brand-primary;
    padding: 28px 0;

    .audioplayer {
        width: 40%;


        .audioplayer-time {
            color: #fff;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .progress {
            border-radius: 0;
            box-shadow: none;

            .progress-bar.playback {
                background-color: $gray-dark;
                transition: width 0.4s;
            }
            .progress-bar.buffer {
                background-color: $gray-lighter;
            }
        }

        .audioplayer-btn {
            background-color: transparent;
            border: 3px solid;
            color: #fff;
            padding: 7px 7px;
            border-radius: 50%;
            /* margin: 0 20px; */

            &:hover {
                background-color: #fff;
                border-color: #fff;
                color: $gray-dark;
            }

            .educar-icon {
                font-size: 40px;
            }
            /* &:active, &:focus {
                border: none;
            } */
        }

        @media (max-width: $screen-xs) {
            width: 80%;
        }

        /* &:active, &:focus {
            border: none;
        } */
    }
}
