.main-wrapper {
    position: relative;
}
.featureResources {
    margin-top: 25px;

    @media (max-width: $screen-xs) {
        margin-top: 0;
    }
}
.resources-list {
    padding-top: 75px;

    .results-number {
        position: relative;
        border-bottom: 2px solid #c3c3c3;
        margin-top: 6px;

        @media(max-width: $screen-xs) {
            margin-bottom: 20px;
            border-bottom: 0;
            padding-bottom: 1px;
            padding-left: 0.5em;
            padding-right: 0.5em;

        }
    }

    .filtered-mobile {
        background-color: #b3b3b3;
        margin-top: -20px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.7em;

        @media (max-width: $screen-sm) and (min-width: $screen-xs) {
            margin-top: 10px;
        }
    }

    .no-results {
        background-color: transparent;
        padding: 1.5em 1em;
        margin-bottom: 5vh;

        h2 {
            font-family: $font-family-sans-serif;
            font-weight: bold;
            color: #000;
            font-size: 1em;
            margin-top: 0;
        }
        p {
            font-family: $font-family-sans-serif;
            color: #000;
            margin-bottom: 0;
        }
        @media (max-width: $screen-md) {
            margin-top: 2em;
        }
        @media (max-width: $screen-xs) {
            background-color: $gray-lighter;
        }

    }
    @media (max-width: $screen-lg) {
        padding-top: 10px;
    }

    @media (max-width: $screen-xs) {
        padding-top: 10px;
    }
}

.search-form.resources-list {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 0.5em;
    padding-right: 0.5em;

    @media(max-width: $screen-xs) {
        padding-top: 5px;
        padding-bottom: 15px;

        form.search label {
            font-size: 20px;
            text-align: left;
        }
    }
}
