// ENCABEZADO
.resourcesDetail-header {
    padding: 0.7em 0.5em 1em;
    position: relative;
    border-bottom: 2px solid #cacaca;

    h1 {
        font-size: 2.25em;
        color: #0072bc;
        @media (max-width: $screen-xs) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .description {
        font-size: 1.375em;
        margin-top: 5px;
    }


}
