.article-body {
    padding: 1.5em;
    padding-top: 1em;
    font-size: 1.125em;

    h1, h2,h3 {
        color: $brand-primary;
    }

    h4, h5, h6 {
        color: #000;
        font-weight: bold;
    }
    p {
        margin: 1em 0;
        line-height: 1.5;
    }

    img {
        max-width: 100%;
        display: block;

    }

    figure, img {
        margin: 1em 0;
    }

    ul {
        list-style: none;

        li {
            position: relative;
            margin: 10px 0;

            &::before {
                content: "\2022";
                color: #00b9f1;
                font-size: 42px;
                position: absolute;
                left: -20px;
                top: -18px;
            }
        }

         & ul {
            li::before {
                color: $gray-light;
            }
        }
    }
    blockquote {
        width: 35%;
        font-style: italic;
        background-color: #f5f5f5;
        border: 0;
        // box-shadow: none;
        // border-radius: 0;

        h1, h2, h3, h4, h5, h6 {
            font-size: $font-size-h3;
            color: #000;
            font-weight: bold;
            font-style: normal;
            margin-top: 10px;
        }
        p {
            margin-top: 0;
        }
    }
    blockquote.box {
        width: 66%;
        @media (max-width: $screen-xs) {
            width: 100%;
        }
    }

    blockquote.well,
    div.well {
        width: 35%;
        font-style: italic;
        background-color: #f5f5f5;
        border: 0;

        h1, h2, h3, h4, h5, h6 {
            font-size: $font-size-h3;
            color: #000;
            font-weight: bold;
            font-style: normal;
        }
        @media (max-width: $screen-xs) {
            width: 100%;
        }
    }

    div.well {
        width: 55%;
        font-style: normal;
    }
}
