.AudioTranscription {
    display: none;
    position: relative;
    padding: 15px;
    padding-bottom: 35px;
    background-color: #eee;
    margin-bottom: 1em;
    &.active{
        display: block;
    }
    h3 {
        color: #333;
        margin-top: 0;
        font-weight: bold;
    }

    p {
        overflow: hidden;
        max-height: 120px;

    }

    .btn {
        background-color: $blue;
        color: #fff;
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
}
