.pdf-wrapper {
    background-color: #333;
    margin-top: -3em;
    text-align: center;

    iframe.pdf {
        width: 100%;
        margin-top: -3em;
        height: 1190px;
    }
}

    .pdf-label {
        background-color: #edebec;
        padding: 5px 10px;
        margin-bottom: 1em;
        border-radius: 1px;
        margin-top: 1em;
    }
.btn-pdf-wrapper {
    margin: 3em 0;

    .btn-download-resource {
        background-color: #0072bc;
        color: #fff;
        border-radius: 0;
        padding: 12px 14px;
        width: 90%;
        font-weight: 800;
    }
}


