.Downloadable{
    
        .Downloadable-imgContainer{
            background: $grey-muted;
            text-align: center;
            padding-bottom: 1em;
            margin-bottom: 2em;
        }
       & + .buttons-bar.share-buttons-wrapper {
            margin-top: 1em;
        }
        
        
}