.resourcesDetail-playlist {
    .panel {
        border-radius: 0;
        border: none;
        margin-top: 0 !important;

        .panel-heading {
            background-color: $gray-lighter;
            color: #333;
            border-radius: 0;
            border-bottom: 1px solid #999;

            h4 {
                font-weight: bold;

                .accordion-toggle:after {
                    /* symbol for "opening" panels */
                    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
                    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
                    float: right;        /* adjust as needed */
                    color: $brand-primary;         /* adjust as needed */
                    font-family: 'Glyphicons Halflings';

                    font-size: 10px;
                    padding-top: 4px;
                    padding-right: 2px;

                    @media (min-width: $screen-xs) {
                        color: #fff;
                    }

                }
                .accordion-toggle.collapsed:after {
                    /* symbol for "collapsed" panels */
                    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
                }

                & a:hover, & a:focus {
                    text-decoration: none;
                }
            }

            @media (min-width: $screen-xs) {
                background-color: #000;
                color: #fff;
            }
        }

        ul.list-group {
            li.list-group-item {
                background-color: $brand-primary;
                color: #fff;
                border: none;
                border-bottom: 1px solid #fff;
                margin-bottom: 0;
                padding-left: 35px;


                a {
                    color: #fff;
                }
                &.active {
                    background-color: $gray;

                    .educar-icon {
                        position: absolute;
                        font-size: 20px;
                        left: -10px;
                    }
                }

                .dropdown-menu {
                    li a {
                        color: #333;
                        padding: 10px;
                    }
                }

                @media (max-width: $screen-xs) {
                    padding-left: 15px;
                }
            }
        }
    }
}
