/* CONSULTAR SI ESTO ES EFECTIVAMENTE ASI */
body {
    @media(max-width: $screen-xs){
        background-color: #fff;

        .navbar-default {
            border-bottom: 1px solid #eee;
        }
    }
}

.resourcesDetail {
    .content-wrapper {
        background-color: #fff;
        margin-bottom: 3em;
        padding: 0 1em 1em;

        @media (max-width: $screen-sm) {
            margin-bottom: 0;
        }


        // CONTENEDOR DEL CUERPO
        .resourcesDetail-content {
            padding: 0.7em 0.5em 0.5em;


            .buttons-bar.share-buttons-wrapper {
                display: block;
            }
        }


    }

    // CONTENEDOR DE FICHA DE RECURSO
    .resource-sheet-wrapper {
        background-color: #fff;
        padding: 0.7em 0.5em 0.5em;
        margin-bottom: 3em;
    }

    // SIDEBAR INFO
    .resourcesDetail-info {
        background-color: $body-bg;
        margin-top: 0.7em;
        margin-right: 2em;
        padding: 0 0.5em;
        height: 94%;

        div:nth-child(1n+0) {
            background-color: $body-bg;
            border-bottom: 2px solid #c3c3c3;
            padding: 0.8em 0;

            .eduacar-icon {
                display: inline-block;
                float: left;
                vertical-align: top;
                font-size: 1.5em;
                color: $brand-primary;
            }
            p {
                display: inline-block;
                margin: 0;
                padding-left: 15px;
                max-width: 90%;
            }

            @media (max-width: $screen-sm) {
                padding: 0.8em;
            }
        }
        div:first-child {
            @media (max-width: $screen-xs) {
                border-top: 2px solid #c3c3c3;
            }
        }

        @media (max-width: $screen-sm) {
            padding: 0;
            margin-right: -15px;
            margin-left: -15px;
        }
    }

}
