/* ENTRADA PRINCIPAL DE LA COLECCIÓN  */
.collection-body {
    font-size: 1.125em;
    background-color: white;
    padding: 0 0.5em;
    /* float: left; */
    width: 100%;
    white-space: normal;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 1em;
    }

    p {
        white-space: normal;
        overflow: hidden;
    }

    h2, h3, h4, h5 {
        color: $brand-primary;
    }
}

.featuredResources {
    padding-bottom: 2em;

    h3 {
        font-size: 1.25em;
        font-weight: bold;
    }

    .featuredResources-item {
        width: 100%;
        background-color: $gray-lighter;
        padding: 20px 0;

        .featuredResources-item-titleContainer{
            .featuredResources-icon{
                background-color: $audio-color;
                min-width: 40px;
                height: 40px;
                float: left;
                color: white;
                span{
                    font-size: 1.7em;
                }
            }
            .featuredResources-item-title{
                float: left;
                margin: 0 0 0 15px;
                // @include titles-links(1.3em, 1.3em, $brand-primary);
            }

        }

        &:hover{
            .featuredResources-item-titleContainer{
                background-color: $brand-primary;
                .featuredResources-item-title{
                    color: white;
                }
            }
        }
    }
}
/* FIN ENTRADA PRINCIPAL DE LA COLECCIÓN  */

/* CATEGORIA DE LA COLECCIÓN  */
.collectionCategory-header {
    background-color: white;
    padding: 0 0 0.5em;
    border-bottom: 4px solid #eee;

    h2 {
        font-size: 2.25em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #0072bc;
        margin-top: 0;
    }

    .collectionCategory-description {
        font-size: 1.375em;
    }
}

.collectionCategory-ResourcesList {
    .list-item .icon {
        width: 95px;
        height: 95px;
    }
}

/* FIN CATEGORIA DE LA COLECCIÓN  */


