    form.search  {
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {

            @media (max-width:  $screen-phone){
                font-size: $font-size-h3;
            }

            font-size: $font-size-h2;
            text-align: center;
            font-weight: 400;
            color: #fff;
            letter-spacing: 0.7px;
        }
        input[type="search"] {
            // padding: 20px;
            height: 42px;
            font-size: 25px;

            @media (max-width:  $screen-phone){
                height: 32px;
                font-size: 1.125em;
            }
        }

        .input-group-btn {
            .btn {
                border-radius: 0 5px 5px 0;
                background-color: $brand-primary;
                padding: 10px 13px;

                @media (max-width:  $screen-phone){
                    padding: 5px 13px;
                }

                span {
                    color: #fff;
                }
                :focus, :hover {
                    border-color: #00b9f1;
                }
            }
        }
    }

