.maintenance {
    background: white;
    padding: 1em;

    @media screen and ( min-width: 760px ) {

        background-image: url('/img/bkg-site-maintenance.png');
        background-repeat: no-repeat;
        padding-top: 4%;
        padding-bottom: 20%;
        background-size: 48%;
        background-position: center left;
    }

    .col-xs-6 {
        @media screen and ( min-width: 760px ) {
            float: right;
        }
    }

    margin-bottom: 2em;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3em;


    h1 {
        font-size: 2.5em;

        max-width: 6em;
    }

    p {
        font-family: 'Droid', sans-serif;
        font-size: 1.5em;
        max-width: 21em;
    }
    p + p {
        font-size: 1.25em;
    }


}
