.glyphicon-menu-down {
    margin-left: 10px;
}
.open .glyphicon-menu-down {
    color: $brand-primary;
}

.dropdown-menu {
    @media (max-width: $screen-phone) {
        padding: 0;
    }
      // Links within the dropdown menu
    > li > a {
        padding: 10px 3px;
    }

    @media (max-width: $screen-phone) {
      padding: 3px 20px;
    }
}

.dropdown, .dropup{
	&:hover{
		background: transparent !important;
	}
}