//
// Educar icons
//
// Íconos utilizados durante la refactorización del portal educ.ar compilados con http://fontastic.me/
//
//
// <a href="#"><span class="educar-icon.search"></span> Star</a>

@at-root {
  // Import the fonts
  @charset "UTF-8";
  @font-face {
    font-family: "educar-icons";
    src:url("../../../fonts/educar-icons.eot");
    src:url("../../../fonts/educar-icons.eot?#iefix") format("embedded-opentype"),
      url("../../../fonts/educar-icons.woff") format("woff"),
      url("../../../fonts/educar-icons.ttf") format("truetype"),
      url("../../../fonts/educar-icons.svg#educar-icons") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

// Catchall baseclass
.educar-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'educar-icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  font-family: "educar-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="educar-icon-"]:before,
[class*=" educar-icon-"]:before {
  font-family: "educar-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.educar-icon-file:before {
  content: "\61";
}
.educar-icon-search:before {
  content: "\62";
}
.educar-icon-close:before {
  content: "\63";
}
.educar-icon-embed:before {
  content: "\64";
}
.educar-icon-coleccion:before {
  content: "\65";
}
.educar-icon-comment:before {
  content: "\66";
}
.educar-icon-download:before {
  content: "\67";
}
.educar-icon-ingresar-a-la-coleccion:before {
  content: "\68";
}
.educar-icon-mail:before {
  content: "\69";
}
.educar-icon-full-screen:before {
  content: "\6a";
}
.educar-icon-like:before {
  content: "\6b";
}
.educar-icon-fav:before {
  content: "\6c";
}
.educar-icon-min-screen:before {
  content: "\6d";
}
.educar-icon-pdf-1:before {
  content: "\6e";
}
.educar-icon-pdf:before {
  content: "\6f";
}
.educar-icon-upload:before {
  content: "\70";
}
.educar-icon-user:before {
  content: "\71";
}
.educar-icon-video:before {
  content: "\72";
}
.educar-icon-volver-a-la-coleccion:before {
  content: "\73";
}
.educar-icon-share:before {
  content: "\74";
}
.educar-icon-facebook:before {
  content: "\75";
}
.educar-icon-google-plus:before {
  content: "\76";
}
.educar-icon-twitter:before {
  content: "\77";
}
.educar-icon-cc:before {
  content: "\79";
}
.educar-icon-ad:before {
  content: "\41";
}
.educar-icon-play:before {
  content: "\78";
}
.educar-icon-next:before {
  content: "\7a";
}
.educar-icon-previous:before {
  content: "\42";
}
.educar-icon-volume:before {
  content: "\43";
}
.educar-icon-pause:before {
  content: "\44";
}
.educar-icon-mail-b:before {
  content: "\45";
}
.educar-icon-phone:before {
  content: "\46";
}
.educar-icon-location:before {
  content: "\47";
}
.educar-icon-alert:before {
  content: "\49";
}
