/****
SISTEMA ATOMIZADO DE FLEXBOX PARA PERMITIR DEFINIR POSICIONAMIENTOS CON EL USO DE CLASES

****/

.flex-container {
    display: flex;
}
.flex-align-center {
    display: flex;
    align-items: center;
}
.flex-align-stretch {
    display: flex;
    align-items: stretch;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.flex-space-around {
    display: flex;
    justify-content: space-around;
}
.flex-item-grow-double {
    flex-grow: 1;
}

@mixin flex-item-grow ($grow){
    flex: $grow;
}

/***** SySTEM *****/

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-start-xs {
    @media (max-width: $screen-xs) {
        display: flex;
        justify-content: flex-start !important;
    }
}
.flex-start-sm {
    @media (max-width: $screen-sm) {
        display: flex;
        justify-content: flex-start !important;
    }
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-items-center {
    display: flex;
    align-items: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
}

.flex-reset-block-xs {
    @media (max-width: $screen-xs) {
        display: block;
    }
}
.flex-reset-initial-sm {
    @media (max-width: $screen-sm) {
        display: initial;
    }
}
.flex-reset-block-sm {
    @media (max-width: $screen-sm) {
        display: block;
    }
}
.flex-reset-none-xs {
    @media (max-width: $screen-xs) {
        display: none;
    }
}
.flex-reset-stretch-xs {
    @media (max-width: $screen-xs) {
        display: block;
    }
}
