// Pills
// -------------------------
.nav-pills {
    overflow: hidden;
    > li {
        &.nav-title{
            font-size: 18px;
            padding-bottom: 1px;
            // border-bottom: 2px solid $gray-border-darker;
            > a{
                background-color: $brand-primary;
                color: white;
                &:hover,
                &:focus{
                    background-color: none;
                }
            }
        }
        float: left;
        background-color: $gray-lighter;

        // Links rendered as pills
        > a {
            border-radius: 0;
        }
        + li {
            margin-left: 2px;
        }

        // Active state
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: $nav-pills-active-link-hover-color;
                background-color: $gray-light;
            }
        }
    }
}


// Stacked pills
.nav-stacked {
    background-color: $gray-border-darker;
    > li {
        float: none;
        + li {
            margin-top: 2px;
            margin-left: 0; // no need for this gap between nav items
        }
    }
}
