.navbar-collapse {
    @media (max-width: $screen-phone) {
        border-top: none;
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    @media (max-width: $grid-float-breakpoint ) {
        position: relative;
    }
    border-width: 4px 0 0 0;
    .navbar li a {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
    }
    @media (min-width: $grid-float-breakpoint) {
       box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.10);
    }
    .navbar-collapse.in{
        max-height: none;
    }
}

.navbar-brand {
    @media (max-width:  $grid-float-breakpoint) {
        .navbar > .container &.educar,
        .navbar > .container-fluid &.educar {
            width: 43px;
            background: url("../../../frontend/images/educar-sprite.png") -77px 0;
            height: 43px;
            margin-top: 6px;
            margin-left: 10px;

        }
    }
    @media (min-width: $grid-float-breakpoint) {
        .navbar > .container &,
        .navbar > .container-fluid & {
          /*margin-left: -$navbar-padding-horizontal;*/
          margin-left: 0;
        }
        .navbar > .container &.educar,
        .navbar > .container-fluid &.educar {
            width: 118px;
            background: url("../../../frontend/images/educar-sprite.png") 0px 0;
            height: 43px;
            /*margin-top: 8px;*/
        }
    }
}
.navbar-nav {
    // Uncollapse the nav
    @media (min-width: $grid-float-breakpoint) {
        float: left;
        margin: 0 15px;
        max-width: 540px; /* LIMITE PARA QUE NO PISE EL BOTÓN DE LOGIN */
        > li {
            float: left;
            > a {
                padding-top:    $navbar-padding-vertical + 10px;
                padding-bottom: $navbar-padding-vertical + 10px;
                transition: all 0.2s ease;
            }
        }
    }
}

// Dropdown menus

// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
    background-color: transparentize($gray-base, 0.32);//se cambia el color del dropdown menu a black
    /* width: 100%; */
    min-width: auto;
    width: 160%;

    @media(max-width: $grid-float-breakpoint) {
        padding: 0;
    }
}
.navbar-nav > li > .dropdown-menu > li > a{
  white-space: normal;
  padding: 5px 15px;

  @media(max-width: $grid-float-breakpoint) {
    padding: 10px 0;
  }

}
.navbar-nav .open .dropdown-menu li a {
  @media(max-width: $grid-float-breakpoint) {
    padding: 10px 0;
    background-color: transparentize($gray-base, 0.32);
  }
}
//pseudo elemento para generar el border
.navbar-nav > li > .dropdown-menu:before {
    content: '';
    background-color: $brand-primary;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    @media (max-width: $screen-phone){
      display: none;
    }
}
.navbar-nav > li > .dropdown-menu:after {
    content: '';
    position: absolute;

    top: -7px;
    left: 50%;
    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 7px solid $brand-primary;
    @media (max-width: $screen-nav-mobile){
      display: none;
    }
}
.navbar-nav > li > .dropdown-menu > li > a{
    color: white;
}
.navbar-nav > li > .dropdown-menu > li{
}

.navbar-nav > li > .dropdown-menu > li:last-child{
    border-bottom: none;
}

.navbar-nav > li > .dropdown-menu > li > a:hover{
    background-color: $brand-primary;
}
 // Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {
    border-width: 4px 0 0 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    @media screen and (max-width: $screen-sm-min) {
        border-top: none;
    }

    @media (max-width: $screen-nav-mobile) {
        position: absolute;
    }

    .navbar-brand {
        &:hover,
        &:focus {
            color: #fff;
        }
    }
    .navbar-nav {
        > li > a {
            border-top: 4px solid white;//hack para evitar el cambio de tamaño en el over
            &.active {
                background-color: $body-bg;
                border-color: $body-bg;
                &:hover {
                    color: white;
                    background-color: #080808;
                }
            }
            &:hover,
            &:focus {
                border-top: 4px solid $brand-primary;
                @media (max-width: $screen-phone) {
                    border-top: none;
                }
            }
            @media (max-width: $grid-float-breakpoint) {
              color: #fff;
              border-top: 1px solid #444;
              border-bottom: none;
              background-color: #000;
              &.active {
                background-color: #000;
                color: #fff;
              }
            }
        }
        > .open > a {
            &,
            &:hover,
            &:focus {
                color: white;
                background-color: #080808;
              /* background-color: none;//@TODO: hay que resetearlo al defaul
              color: none;//@TODO: hay que resetearlo al defaul */
            }
        }
        @media (max-width: $grid-float-breakpoint) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: $navbar-default-link-color;//@TODO: hay que resetearlo al defaul
                    color: #fff;
                    border-bottom: 1px solid #868080;
                    padding-left: 15px;
                    &:hover,
                    &:focus {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.navbar {
    min-height: 68px;

    .container {
        @media (max-width: $grid-float-breakpoint) {
            /* reseteo el padding que elimino en bootstrap-customizations/mixins/grid */
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media(max-width: $grid-float-breakpoint) {
        /* revisar en que situación applica esta regla */
        // margin-bottom: 0;

    }
}


/******** SE QUITA ICONO DROPDOWN EN VERSION MOBILE *********/
.navbar-nav > li > a.dropdown-toggle > span.glyphicon {
    @media (max-width: $screen-nav-mobile) {
        display: none;
    }
}


// Search
// --------------------------------------------------

.navbar-form {
    margin-top: 25px;

    @media (min-width: $grid-float-breakpoint) {
        width: 245px;
    }

    input {
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        border: 1px solid $brand-primary;
        border-right: 0px;
    }

    button {
        border-left: 0px;
        background-color: white;

        .glyphicon {
            color: $brand-primary;
        }
    }
}

.navbar-fixed-top {
    .navbar-form {
        margin-top: 15px;
    }
}
