.pagination-wrapper {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 0px;
}
.pagination{
    margin: 10px 0;
    > li {
        > a,
        > span {
            position: relative;
            float: left;
            padding: 3px 6px;
            line-height: 1.428571429;
            text-decoration: none;
            color: #636363;
            background-color: #e9eceb;
            margin-left: -1px;
            border-radius: 5px;
            margin: 0 5px;
            border: 0;
        }
        &:first-child {
            > a,
            > span {
                margin-left: 0;
                margin-right: 50px;
                text-indent: -9999px;
                background-color: transparent;
            }
        }
        &:first-child:before {
            content: "\e257";
            font-family:"Glyphicons Halflings";
            float: left;
            margin: 4px 2px 2px;
            margin-right: -13px;
            color: #00b9f1;
            cursor: pointer;
        }
         &:last-child {
            > a,
            > span {
               @include border-right-radius($border-radius-base);
                margin-left: 50px;
                text-indent: -9999px;
                /*color: #fff;*/
                background-color: transparent;
            }
        }
        &:last-child:before {
            content: "\e258";
            font-family:"Glyphicons Halflings";
            float: right;
            margin: 4px 2px 2px;
            margin-left: -17px;
            color: #00b9f1;

        }
    }
    li:last-child a:hover, li:first-child a:hover,
    li:last-child span:hover, li:first-child span:hover  {
        background-color: transparent;

    }
    li:first-child:hover:before, li:last-child:hover:before{
        color: #00efff;
    }
    > li > a,
    > li > span {
        &:hover,
        &:focus {
            z-index: 2;
            color: #fdfdfd;
            background-color: #c3c3c3;
        }
    }
    > .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            z-index: 3;
            color: #fff;
            background-color: #696969;
            cursor: default;
        }
    }
}
@media (max-width:  $screen-phone) {
    // ul.pagination > li {
    //     display: none;
    // }
    // ul.pagination li:first-child, ul.pagination li:last-child {
    //     display: inline;
    // }
}
