.thumbnail {
    display: block;
    overflow: hidden;
    position: relative;
    padding: $thumbnail-padding;
    margin-bottom: $line-height-computed;
    line-height: $line-height-base;
    background-color: $thumbnail-bg;
    border-radius: 0px;
    border: 0;
    border-top: 4px solid $thumbnail-border;
    @include transition(border .2s ease-in-out);

    .img-wrapper {
        position: relative;
        max-width: 100%;
        width: 100%;
    }

    > img,
    a > img {
        @include img-responsive;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .caption {
        color: $thumbnail-caption-color;
        padding: $thumbnail-caption-padding;
        background-color: $thumbnail-bg;

        a:hover {
            color: #fff;
            cursor: pointer;
        }

        h2 {
            font-size: 21px;
            margin-top: 0;
            line-height: 1.56;
        }
        .date {
            display: block;
        }
    }

    &.fixed-height-desktop .caption {
        @media (min-width: $grid-float-breakpoint){
            //height: 100px;
        }
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.68);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0%;
        transition: all 0.8s ease;
        overflow: hidden;
        color: #fff;

        p, span {
            //margin: 15px;
            padding: 15px;
            display: inherit;
        }
    }

    a { text-decoration: none; }
    a .underline {
        border-bottom: 1px solid;
    }

    @media (max-width:  $screen-phone) {

        margin: 25px 0;
        border-top: none;

        img {
            float: left;
            width: 92px;
            height: 69px;
        }
        .overlay {
            display: none;
        }

        .caption, .caption.fixed-height-desktop {
            height: 69px;
            padding: 10px 10px 10px 102px;

            h2 {
                margin: 0;
                font-size: 16px;
            }
            .date {
                display: none;
            }
        }
    }
    @media (max-width:  $screen-tablet) {

    }
    @media (max-width:  $screen-desktop) {

    }
    @media (max-width:  $screen-lg-desktop) {


    }
    // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

    &.curated {

        &::before {
            content: "destacado";
            position: absolute;
            top: 0;
            left: 0;
            /* width: 120px; */
            height: 30px;
            background-image: url("/img/logo-ar-blanco.png");
            background-color: #00b9f1;
            z-index: 100;
            padding: 0px 48px 0 15px;
            display: block;
            color: #fff;
            text-transform: uppercase;
            background-size: 26px;
            font-size: 18px;
            background-repeat: no-repeat;
            background-position-x: 89%;

            @media (max-width: $screen-phone) {
                width: 100px;
                height: 17px;
                padding: 0px 48px 0 6px;
                background-size: 15px;
                font-size: 13px;
                background-position-x: 94%;
                background-position-y: 40%;
            }
        }

        @media (max-width: $screen-phone) {
            img {
                width: 100px;
                }
            .caption {
                padding-left: 112px;
            }
        }
    }
}

.thumbnail:hover {
    .overlay {
        //top: 50%;
        height: 50%;

    }
    .caption {
        background-color: $brand-primary;
        a {
            color: #eee;
        }
        a:hover {
            color: #fff;
        }

    }
}

.thumbnail.main {
    color: #fff;

    .caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.68);
        height: 91px;
        color: #fff;
        top: auto;
        padding: 8px 25px;
        h2 {
            margin-top: 0;
            color: #fff;
            font-size: 26px;
        }
        p {
            padding: 0;
        }
    }



    @media (max-width:  $screen-phone) {
        margin-bottom: 10px;

        img {
            width: 100%;
            height: auto;
        }
        .overlay, .caption {
            display: inline-block;
            position: relative;
            height: 90px;
            padding: 10px;
            overflow: hidden;
            width: 100%;

            h2 {
                font-size: 16px;
            }

            p {
                padding: 0;
            }
        }

    }
}
.thumbnail.video {
    border-color: $gray;
    background-color: $gray;
    // height: 530px;
    height: 500px;

    iframe {
        width: 99.9%;
        height: 410px;
    }

    .caption {
        color: #fff;
        background-color: $gray;
        height: 115px;
        h2 {
            color: #fff;
            margin-top: 0;
            margin-bottom: 10px;
        }
        border-left: 8px solid $brand-primary;
    }


    @media (max-width:  $screen-phone) {
        margin-bottom: 10px;
        height: 270px;

        iframe { height: 180px;}
        .caption {
            padding: 10px;
            height: 90px;
            overflow: hidden;
        }
    }

    /*SHAME*/ .img-responsive {margin-bottom: -5px;}
}
.thumbnail.large {
    border-color: $gray-light;
    background-color: $gray-light;
    // height: 530px;
    height: 500px;
    overflow: hidden;

    .caption {
        color: #fff;
        height: 194px;
        background-color: $gray-light;

        h2 {
            color: #fff;
        }
    }

    @media (max-width:  $screen-phone) {
        height: 69px;

        .caption {
            height: 69px;

            p {
                display: none;
            }
        }
    }
}

