.col-center {
    @include col-center;
}


.no-margin-bottom-xs {
    @media (max-width:  $screen-phone) {
        margin-bottom: 0;
    }
}
.no-border-top {
    border-top: none;
}
.no-border-bottom {
    border-bottom: none;
}
.no-border-top-xs {
    @media (max-width:  $screen-phone) {
        border-top: none;
    }
}

.no-border-bottom-xs {
    @media (max-width:  $screen-phone) {
        border-bottom: none;
    }
}


.bg-brand-primary {
    background-color: $brand-primary;
    color: #fff;
}

.bg-none-xs {
    @media (max-width:  $screen-phone) {
        background-color: transparent;
        color: $gray;
    }
}

.list-title {
    padding: 10px 15px;
    margin-top: 0;
    @media (max-width:  $screen-phone) {
        margin-top: 10px;
    }
}

.overflow-hidden {
    overflow: hidden;
}
