$bootstrap-sass-asset-helper: false;
//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #080808 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   #454545 !default; // lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #7b7c7c !default; // lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-border:            #e5e5e5;
$gray-border-darker:     #cacaca;

$gray-over-pagination:   #c3c3c3;

$grey-muted:            #edebec;//gris de background
$blue:                  #0072bc;

$brand-primary:         #00b9f1;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;



/* COLORES DE RECURSOS */
$inicial-color: #42c438;
$primaria-color: #2bc7d5;
$secundaria-color: #bd167c;
$video-color: #ff3e32;
$audio-color: #009c7b;
$ebook-color: #913c9c;
$link-resource-color: #f7941e;
$gallery-color: #f7941e;
$image-color: #ef4036;
$interactive-color: #279a7b;
$text-resource-color: #279a7b;
$collection-color: #25aae1;
$generic-color: #7f3f98;
$software-color: #25aae1;
$especiales-color: #00d08d;
$efemerides-color: #db005e;
$experiencias-color: #ff876b;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #eaeceb;




/*ewewewewewewewew*/
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  'Droid Sans', sans-serif;
/*1ewewewewewewewew*/
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

$font-family-sans-serif-titles:  'Roboto', sans-serif;
// font-family: 'Open Sans', sans-serif;


//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-sans-serif-titles;






//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     3px;//mod
$padding-base-horizontal:   28px;//mod





//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-default-bg:                 $grey-muted;
$btn-default-border:             $brand-primary;

$btn-primary-bg:                 $blue;
$btn-primary-border:             darken($blue, 5%);


// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         16px;











//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;//estaba en 768px

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1300px;//1200 bootstrap





//== Grid system
//
//## Define your custom responsive grid.
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:           855px;    /*$screen-sm-min;*/



/* #menu #mobile #nav */
$screen-nav-mobile:               $grid-float-breakpoint;




//== Navbar
//
//##

// Basics of a navbar

$navbar-default-color:             #fff;
$navbar-default-bg:                #fff;
$navbar-default-border:            $brand-primary;


// Navbar links
$navbar-default-link-hover-color:          white;
$navbar-default-link-hover-bg:             $gray-base;







//== Thumbnails
//
//##

//** Padding around the thumbnail image
$thumbnail-padding:           0;
//** Thumbnail background color
$thumbnail-bg:                #fff;
//** Thumbnail border color
$thumbnail-border:            $brand-primary;
//** Thumbnail border radius
// $thumbnail-border-radius:     $border-radius-base;

//** Custom text color for thumbnail captions
$thumbnail-caption-color:     #0073bc;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px 9px;
