@import 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans:300,400|Roboto:300';
@import "resources/assets/sass/frontend/bootstrap-customizations/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "resources/assets/sass/frontend/bootstrap-customizations";
@import "resources/assets/sass/frontend/mixins/titles";
@import "resources/assets/sass/frontend/components/pagination";
@import "resources/assets/sass/frontend/components/footer";
@import "resources/assets/sass/frontend/components/header";
@import "resources/assets/sass/frontend/components/search-form";
@import "resources/assets/sass/frontend/components/newsDetail";
@import "resources/assets/sass/frontend/components/newsLists";
@import "resources/assets/sass/frontend/components/resourcesList";
@import "resources/assets/sass/frontend/components/resourcesDetail";
@import "resources/assets/sass/frontend/components/resourcesDetail-videoembed";
@import "resources/assets/sass/frontend/components/resourcesDetail-tags";
@import "resources/assets/sass/frontend/components/resourcesDetail-playlist";
@import "resources/assets/sass/frontend/components/ActionButtons";
@import "resources/assets/sass/frontend/components/resourcesDetail-pdf";
@import "resources/assets/sass/frontend/components/resourcesDetail-nav-collection";
@import "resources/assets/sass/frontend/components/resourcesDetail-html";
@import "resources/assets/sass/frontend/components/resourcesDetail-flash";
@import "resources/assets/sass/frontend/components/resourcesDetail-collection";
@import "resources/assets/sass/frontend/components/resourcesDetail-audioplayer";
@import "resources/assets/sass/frontend/components/resourcesDetail-header";
@import "resources/assets/sass/frontend/components/resourcesDetail-article";
@import "resources/assets/sass/frontend/components/resourcesDetail-downloadable";
@import "resources/assets/sass/frontend/components/resourcesDetail-image-gallery";
@import "resources/assets/sass/frontend/components/resourcesDetail-podcast";
@import "resources/assets/sass/frontend/components/resourcesDetail-video";
@import "resources/assets/sass/frontend/components/resourcesDetail-collection";
@import "resources/assets/sass/frontend/components/fullscreen";
@import "resources/assets/sass/frontend/components/buttons-bar";
@import "resources/assets/sass/frontend/components/list-item";
@import "resources/assets/sass/frontend/components/list-filters";
@import "resources/assets/sass/frontend/components/list-filters-mobile";
@import "resources/assets/sass/frontend/components/list-filtered";
@import "resources/assets/sass/frontend/components/list-filtered-mobile";
@import "resources/assets/sass/frontend/components/img-responsive";
@import "resources/assets/sass/frontend/components/resourcesHome";
@import "resources/assets/sass/frontend/components/resourceSheet";
@import "resources/assets/sass/frontend/components/card";
@import "resources/assets/sass/frontend/components/RelatedResource";
@import "resources/assets/sass/frontend/components/sub";
@import "resources/assets/sass/frontend/components/coursesHome";
@import "resources/assets/sass/frontend/components/inscriptionMessage";
@import "resources/assets/sass/frontend/components/coursesDetail";
@import "resources/assets/sass/frontend/components/Institutionals";
@import "resources/assets/sass/frontend/components/inscriptionMessage";
@import "resources/assets/sass/frontend/components/courses-user";
@import "resources/assets/sass/frontend/components/error404";
@import "resources/assets/sass/frontend/components/error500";
@import "resources/assets/sass/frontend/components/site-under-maintenance";


/*.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}*/


/***LAYOUT***/
body {
    background-color: $body-bg;
    padding-top: 7em; //pongo esto porque la navbar está siempre fixed para evitar el saltito que hacía

    @media(max-width: $screen-xs) {
        background-color: #fff;
    }
    @media(min-width: $screen-lg) {
        padding-top: 7.5em;
    }
}

.navbar-brand {
  padding: 5px 5px 2px 5px;
}

.navbar-brand img{
  height: 100%;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.navbar-user {
    padding: 9px 13px;
    border-radius: 50%;
    float: right;
}


@media (max-width:  $screen-phone) {
    .main-wrapper.container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    h1 { font-size: 26px; }
    h2 { font-size: 20px; }
}



/*** EVITO QUE SE PISEN LOS DOS MENUES COLLAPSABLES***/
@media (min-width: 850px) {
    .navbar-collapse.collapse {
        display: inline-block !important;
    }

}




/*** SHAME ***/
.bg-color-1 {
    background-color: #00b9f1;
}

.Institutionals-content {
    img {
        max-width: 100%;
    }
    ul {
        list-style: none;
    }
}

.pageTitle {
    margin-bottom: 20px;

    @media (max-width: $screen-phone) {
        margin-bottom: 10px;
    }
}
/**
*   HACK PARA ARREGLAR BUG CON BOTON DE VIDEODETECTO
*   @TODO: CUANDO SE SOLUCIONE EL BUG REMOVER ESTO
*/

.remove-videodetector{
    display: none;
}
